<h2>Items Shop</h2>

<div>
  <label>Item name:
    <input #itemName />
  </label>
  <button (click)="add(itemName.value); itemName.value=''">
    add
  </button>
</div>

<div class="marginbtn">
  <div class="dropdown">
    <button class="button">{{sortBy}} ▼</button>
    <div class="dropdownbtn">
      <a class="property" (click)="sort('Item ID')">Item ID</a>
      <a class="property" (click)="sort('Item Name')">Item Name</a>
      <a class="property" (click)="sort('Item Price')">Item Price</a>
    </div>
  </div>
  <button class="create-item"><a routerLink="/item-form">Create Item</a></button>
</div>

<ul class="items">
  <li *ngFor="let item of items">
    <a routerLink="/detail-item/{{item.id}}">
      <span class="badge">{{item.id}}</span> {{item.name}}
    </a>
    <button class="delete" title="delete item"(click)="delete(item)">x</button>
  </li>
</ul>

<app-item-search></app-item-search>