.example-card{
    margin-left: 790px;
    margin-right: 780px;
    margin-top: 50px;
    padding-bottom: 75px;
    padding-left: 50px;
}
.title{
    margin-left: -15px;
}
.button{
    margin-left: 55px;
}