.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes li.selected {
    background-color: #CFD8DC;
    color: white;
  }
  .heroes li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button.delete {
    display: block;
    margin:-38px 197px;
    background-color: red;
    color: white;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownbtn {
    display: none;
    position: absolute;
    width: 130px;
    z-index: 1;
    background-color: white;
    box-shadow: 2px 8px 8px 2px rgba(0,0,0,0.5);
  }

  .dropdown:hover .dropdownbtn {
    display: block;
  }
  
  .property{
    padding: 12px 15px;
    display: block;
    text-decoration: none;
  }
  
  .property:hover {
    background-color: #eee;
  }

  .marginbtn{
    margin: 10px 0px;
  }

  .create-hero{
    margin-left: 10px;
  }